# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Email spool folder
/app/spool/*

# Cache, session files and logs (Symfony3)
/var/cache/*
/var/logs/*
/var/sessions/*
!var/cache/.gitkeep
!var/logs/.gitkeep
!var/sessions/.gitkeep

# Logs (Symfony4)
/var/log/*
!var/log/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/var/bootstrap.php.cache
/bin/*
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/web/bundles/
/web/uploads/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar

# Backup entities generated with doctrine:generate:entities command
**/Entity/*~

# Embedded web-server pid file
/.web-server-pid
api/.env
api/.env.dev
api/symfony.lock
api/composer.lock
front/package-lock.json

# SQLite database
/api/var/data.db

# Mac OS X
.DS_Store

# Build directory
/front/build/

# API
api/.env.local
api/.env.local.php
api/.env.*.local
api/config/secrets/prod/prod.decrypt.private.php
api/public/bundles/
api/var/
api/vendor/
api/node_modules/
api/public/build/

# FRONT
front/node_modules
front/.pnp
front/.pnp.js
front/coverage
front/.env.local
front/.env.development.local
front/.env.test.local
front/.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
